# Configurações do Servidor
PORT=3001
JWT_SECRET=sua_chave_secreta_aqui

# Configurações do Banco de Dados (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=techrent_db
